
body {
	margin: 50px 50px 50px 50px;
}

#container {
	font: normal 13px "Helvetica Neue";
	height: 750px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}



#title {
	height: 60px;
	width: 100%;
	float: center;
	border-bottom: 3px groove #D2CFE7;
	padding-bottom: 20px;
	padding-left: 32px;
}

#thetitle {
	font: 300 34px "Helvetica Neue";
}

#info {
	font: 100 20px "Helvetica Neue";
}

#panel {
	width: 700px;
	height: 700px;
	float: left;
	clear: right;
	margin-top: 20px;
}

#search {
	height: 70px;
	margin-top: 25px;
	text-align: center;
	vertical-align: middle;
}

#reveal {
	height: 100px;
	clear: right;
	margin-top: 10px;
	text-align: center;
	vertical-align: middle;
}

#controlpanel {
	height: 430px;
	clear: right;
	margin-top: 10px;
	padding-top: 10px;
}

#search, #reveal, #controlpanel {
	color: #3F3E45;
	width: 285px;
	padding-left: 5px;
	float: right;
	border-radius: 7px;
	border-bottom: 3px groove #D2CFE7;
	border-left: 2px groove #D2CFE7;
}

select, input, input[type="button"] {
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 3px;
	padding-right: 1px;
	padding-left: 1px;
    background: transparent;
    height: 28px;
    border: 1px solid #d4ccd4;
    border-radius: 4px;
	font: normal 13px "Helvetica Neue";
    max-width: 120px !important;
    overflow: hidden;
}

input {
	max-width: 4000px !important;
}

.rules {
    border: 1px solid #D2CFE7;
    padding-right: 2px;
	padding-left: 4px;
}

input[type="button"] {
    border: 2px solid #B1AFC4;
    height: 32px;
    border-radius: 0px;
    float: right;
    margin-right: 5px;
    min-width: 65px;
}

p { 
	display: inline-block; 
}

.viztext {
	font: normal 17px "Helvetica Neue";
	text-transform: capitalize;
	color:#4E3D54;
}

.darktext {
	color: #4E3D54;
}




