
body {
    margin: 50px 50px 50px 50px;
}

#container, div.tooltip {
    font: normal 13px"Helvetica Neue";
    height: 750px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#title {
    height: 60px;
    width: 100%;
    float: center;
    border-bottom: 3px groove #D2CFE7;
    padding-bottom: 20px;
    padding-left: 32px;
}

#thetitle {
    font: 300 34px"Helvetica Neue";
}

#info {
    font: 100 20px"Helvetica Neue";
}

#panel {
    width: 700px;
    height: 700px;
    float: left;
    clear: right;
    margin-top: 20px;
}

#search {
    height: 48px;
    margin-top: 25px;
    text-align: center;
    vertical-align: middle;
}

#revealwrapper {
    height: 200px;
    clear: right;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 5px;
}

#reveal {
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis; 
    font: normal 15px"Helvetica Neue";
}

#controlpanel {
    height: 430px;
    clear: right;
    margin-top: 10px;
}

#search, #revealwrapper, #controlpanel {
    color: #3F3E45;
    width: 290px;
    float: right;
    border-radius: 7px;
    border-left: 2px groove #D2CFE7;
}

#search, #revealwrapper {
    width: 285px;
    padding-left: 5px;
    border-bottom: 3px groove #D2CFE7;
}

select, input, input[type="button"] {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    padding-right: 4px;
    padding-left: 4px;
    background: transparent;
    height: 26px;
    border: 1px solid #d4ccd4;
    border-radius: 4px;
    font: normal 13px"Helvetica Neue";
    max-width: 80px !important;
    overflow: hidden;
}

#lostNode {
    max-width:  170px !important;
}
.rules {
    border-left: 6px solid #D2CFE7;
    border-bottom: 2px solid #D2CFE7;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-right: 2px;
    padding-left: 4px;
}

.filter {
    border-left: 6px solid #a9a3a9;
    border-bottom: 2px solid #a9a3a9;
    padding-bottom: 4px;
}

input[type="button"] {
    margin-left: 10px;
    border: 2px solid #B1AFC4;
    height: 32px;
    border-radius: 0px;
    float: right;
    margin-right: 5px;
    min-width: 65px;
}

input.filter{
    border: 2px solid #a9a3a9;
}

p {
    display: inline-block;
}

.darktext {
    color: #4E3D54;
}

input.addbutton{
    border: 1px solid #B1AFC4;
    border-radius: 4px;
}

.leftrule {
    float: left;
}


div.tooltip {   
  position: absolute;           
  text-align: center;           
  min-width: 60px; 
  max-width: 180px;                 
  height: 32px;                 
  padding: 5px;               
  background: #B1AFC4;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}

